@import url(styles.css);

.contact-info {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    gap: 20px;
}

.phone,
.adress,
.email {
    width: 50%;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    margin-bottom: 40px;
}

.contact-info i {
    font-size: 3.5vw;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-info p {
    margin: 0 0 10px 0;
    font-size: 1.2vw;
    font-weight: bold;
}

.contact-info p:last-of-type {
    text-decoration: underline;
}

.contact-form {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-title {
    text-align: left;
    font-size: 20px;
}

.form,
.text-form {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 2px;
}

.contact-form button {
    display: block;
    margin: 0 auto;
    font-size: 2vw;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0760d4;
}

button {
    font-size: 2vw;
    background-color: #0056b3;
}

.facility-container {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 100px;
    padding: 20px;
    box-sizing: border-box;
}

.facility-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.facility-container h3 {
    font-size: 30px;
    margin: 20px 0 10px 20px;
}

.facility-box {
    display: flex;
    align-items: center;
}
    
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0056b3;
    width: 400px;
    height: 300px;
}

.icons i {
    font-size: 6vw;
}
.facility-text {
    width: 90%;
    margin-bottom: 0;
    margin-top: 0;
}
.facility-text p {
    font-size: 1.8vw;
}


@media screen and (max-width: 1300px){
    .icons {
        width: 25vw;
        height: 20vw;
    }
}

@media screen and (max-width: 1000px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }
    .contact-info section {
        margin-bottom: 10px;
    }
    
    .contact-info section i {
        font-size: 40px;
    }
    .contact-info p {
        margin: 2px 0 10px 0;
        font-size: 13px;
        font-weight: bold;
    }
}

@media screen and (max-width: 700px) {
    .contact-info section {
        margin-bottom: 10px;
    }
    
    .contact-info section i {
        font-size: 40px;
    }
    .contact-info p {
        margin: 2px 0 10px 0;
        font-size: 13px;
        font-weight: bold;
    }
   
    .contact-form button {
        font-size: 20px;
    }

    .icons {
        width: 150px;
        height: 150px;
    }
    .icons i {
        font-size: 40px;
    }
    .facility-text p {
        font-size: 15px;
        margin: 0;
    }
    .facility-container {
        padding: 5px;
    }
    .facility-container h3 {
        margin: 2px 0 2px 20px;
    }
}

@media screen and (max-width: 520px) {
    .contact-info {
        width: 70%;
    }
    .facility-container {
        text-align: center;
    }
    .facility-items {
        flex-direction: column;
        margin-bottom: 1px;
    }
    .facility-container h3 {
        font-size: 20px;
        margin: 0;
    }
    .facility-items {
        margin: 0;
    }
    .icons {
        width: 120px;
        height: 120px;
    }
    .facility-text {
        margin-left: 0;
    }
    .facility-text p {
        font-size: 11px;
        margin: 0;
    }
}