@import url(header.css);
@import url(footer.css);
@import url(styles.css);

.banner {
    position: relative;
    background-image: url(/images/exhibition-1863344_1920.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
    text-align: center;
    background-position: 0 30%;
    z-index: 1;
}

.banner-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    background-color: rgba(0, 0, 0, 0.323);/*change color*/
    max-width: 50%;
}

.banner-content h1 {
    font-size: 2vw;
    margin: 0;
}

.content-box {
    position: relative;
    display: flex;
    max-width: 80%;
    background-color: #006666;
    margin: 0 auto;
    margin-bottom: 50px;
}

.image-container {
    display: flex;
}

.image-container img {
    display: block;
    width: 35vw;
    height: auto;
    object-fit: cover;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
    padding-right: 10px ;
    padding-left: 30px;
}

main h3 {
    font-size: 2vw;
    margin-top: 10px;
    margin-bottom: 0;
}

main p {
    width: 100%;
    margin-top: 10px;
    font-size: 1.9vw;
    line-height: 1.8;
    margin-bottom: 5px;
}

.explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0056b3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 10vw;
    font-size: 2vw;
    border-radius: 50px;
}

.explore-button:hover {
    background-color: #0760d4;
}

@media screen and (max-width: 1000px) {
    .banner-content {
        top: 40%;
    }
    .banner-content h1 {
        font-size: 6vw;
        margin: 0;
    }
    main h3 {
        font-size: 5vw;
        margin: 0 0 2px 2px;
        text-align: center;
    }
    main p {
        font-size: 4vw;
        padding-left: 2px;
    }
    .content-box{
        margin-bottom: 20px;
        width: 90%;
    }
    .image-container img {
        max-width: 100%;
        margin: 0;
        height: auto;
    }
    .explore-button {
        margin: 5px;
        font-size: 20px;
        margin: 20px auto;
        width: 100px;
    }
    .text-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .image-container img {
        height: 90%;
        width: 100%;
    }
    .content-box {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .content-box {
        margin-bottom: 20px;
    }
}


/*@media screen and (max-width: 1265px) {
    .banner { 
        height: 400px;
    }
    .image-container img {
        width: 400px;
        height: 600px;
    }
}

@media screen and (max-width: 1090px) {
    .content-box{
        max-width:80%;
    }
    .image-container img {
        width: 350px;
        height: 500px;
    }
}

@media screen and (max-width: 900px) {
    .banner { 
        height: 300px;
    }
    .image-container img {
        width: 340px;
        height: 420px;   
    }
    .text-container {
        padding-left: 10px;
    }
}

@media screen and (max-width: 750px) {
    .content-box {
        margin-bottom: 20px;
    }
    .image-container img {
        width: 240px;
        height: 320px;
    }
}

@media screen and (max-width: 600px) {
    .banner { 
        height: 200px;
    }
    .image-container img {
        width: 200px;
        height: 280px;
    }
}

@media screen and (max-width: 450px) {
    .banner { 
        height: 150px;
    }
    .image-container img {
        width: 150px;
        height: 200px;
    }
}