@import url(/header.css);
@import url(footer.css);
@import url(styles.css);

.banner { 
    position: relative;
    background-image: url(/images/exhibition-1863344_1920.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
    text-align: center;
    background-position: 0 30%;
    z-index: 1;
}

.banner-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 50%;
}

.banner-content h1 {
    font-size: 3vw;
    margin: 0;
}

.content-box {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    max-width: 80%;
    background-color: #006666;
    margin: 0 auto;
    margin-bottom: 50px;
}

.image-container img {
    display: block; 
    width: 500px;
    height: 700px;
    object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    color: white;
    padding-right: 10px ;
}

.text-container h3 {
    margin-top: 10px;
    font-size: 2vw;
    margin-bottom: 0;
}

.text-container p {
    width: 100%;
    margin-top: 10px;
    font-size: 2vw;
    line-height: 1.8;
    margin-bottom: 5px;
}

.explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0056b3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 10vw;
    font-size: 2vw;
    border-radius: 50px;

}

.explore-button:hover {
    background-color: #0760d4;
}


@media screen and (max-width: 1265px) {
    .banner { 
        height: 400px;
        
    }
    .image-container img {
        width: 400px;
        height: 600px;
    }
}

@media screen and (max-width: 1090px) {
    .content-box{
        max-width:80%;
    }
    .image-container img {
        width: 350px;
        height: 500px;
    }
}

@media screen and (max-width: 900px) {
    .banner { 
        height: 300px;
    }
    .image-container img {
        width: 340px;
        height: 420px;   
    }
    .text-container {
        padding-left: 10px;
    }
}

@media screen and (max-width: 750px) {
    .content-box {
        margin-bottom: 20px;
    }
    
    .image-container img {
        width: 240px;
        height: 320px;
    }
}

@media screen and (max-width: 600px) {
    .banner { 
        height: 200px;
    }
    .image-container img {
        width: 200px;
        height: 280px;
    }
}

@media screen and (max-width: 450px) {
    .banner { 
        height: 150px;
    }
    .image-container img {
        width: 150px;
        height: 200px;
    }
}