@import url(/header.css);
@import url(footer.css);
body {
    margin: 0;
    background-color: #CCE0FF;
}
/*the titles that are on all pages*/

.titles {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    text-align: center;
    max-width: 100%;
    font-size: 40px;
    margin-bottom: 50px;
}

/* Contents that are on the Exhibition- and Get involved page */

.style-content {
    background-color: #006666;
    color: white;
    width: 94%;
    margin-left: 80px;
    margin-bottom: 40px;
}

.style-images {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 40px;
    max-width: 100%;
}

.style-images img {
    width: 1000px;
    height: 800px;
}

.style-text {
    padding: 10px;
    padding-left:150px;
    width: 80%;
}

.style-text h3 {
    font-size: 50px;

}

.style-text p {
    font-size: 40px;
    margin-top: 20px;
}

@media screen and (max-width: 1450px) {
    .titles {
        font-size: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1400px) {
    .style-content {
        width: 90%;
    }
    
}

@media screen and (max-width: 900px) {
    .style-text {
        padding-left: 40px;
        width: 80%;
    }

    .style-text h3 {
        font-size: 30px;
    }
    
    .style-text p {
        font-size: 20px;
    }
}