@import url(header.css);
@import url(footer.css);

* p {
    font-family: "Comic Sans MS";
}

body {
    margin: 0;
    background-color: #CCE0FF;
}

.titles {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    text-align: center;
    max-width: 100%;
    font-size: 1.6vw;
    margin-bottom: 50px;
}