@import url(header.css);
@import url(footer.css);
@import url(styles.css);

.terms-container {
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    font-size: 18px;
}

